html {
	height: 100%;
	width: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: cursive;
	background-color: #ffffff;
}

main {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 20%;
	margin-left: 20%;
}

img {
	padding-right: 2em;
}

p{
	text-align: left;
}

h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #cc8ac3;
	color: #ffffff;
	margin-bottom: 1%;
}

.index {
	color: #000000;
}

ul {
	list-style-type: none;
	background-color: white;
	overflow: hidden;
	padding: 1em;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	font-size: 1.3em;
	padding: 0.2em;
}

li a:hover {
	background-color: #000000;
	color: #ffffff;
}
