html {
	height: 100%;
	width: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: cursive;
	background-color: #ffffff;
}

main {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 20%;
	margin-left: 20%;
}

h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #cc8ac3;
	color: #ffffff;
	margin-bottom: 1%;
}

h3 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #cc8ac3;
	color: #ffffff;
	font-size: 1.3em;
	margin-top: 1em;

}

.index {
	color: #000000;
}

ul {
	list-style-type: none;
	background-color: white;
	overflow: hidden;
	padding: 1em;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	font-size: 1.3em;
	padding: 1em;
}

li a:hover {
	background-color: #1f1f1f;
	color: #ffffff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
